[project]
	description = this is test repo for open source project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pranavkumarsahu
[access "refs/for/refs/*"]
	read = group user/pranavkumarsahu
	push = group user/pranavkumarsahu
	label-Code-Review = -2..+2 group user/pranavkumarsahu
	label-Verified = -1..+1 group user/pranavkumarsahu
	rebase = group user/pranavkumarsahu
	removeReviewer = group user/pranavkumarsahu
	submit = group user/pranavkumarsahu
[access "refs/heads/*"]
	read = group user/pranavkumarsahu
	create = group user/pranavkumarsahu
	push = +force group user/pranavkumarsahu
	pushMerge = group user/pranavkumarsahu
[access "refs/tags/*"]
	push = +force group user/pranavkumarsahu
	pushTag = group user/pranavkumarsahu
	pushSignedTag = group user/pranavkumarsahu
